body {
    margin-top: 0;
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #91aec1; 
}


h4 {
    font-family: Helvetica;
    font-size: 24px;
}

h5 {
    font-family: Helvetica;
    text-align: center;
}

/* Header & Navigasi Section */

header {
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #f1f1f1;
}

li {
    text-align: left;
    display: inline-block;
    text-indent: 10px;
    font-weight: 500;
}

/* Profile */

img {
    border: 2px lightgray solid;
    border-radius: 10px;
}

.data {
    padding: 50px;
    display: grid;
    grid-template-columns: 30% auto;
    line-height: 50px;
}

section {
    margin: 10px;
    padding: 100px;
}

.cv {
    width: 30%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.cv:hover {
    background-color: #f1f1f1;;
    border: 2px solid black;
    border-radius: 5px;
}

/* contact Section */

#contact {
    background-color: #f1f1f1;
    padding: 100px 50px;
    height: 200px;
    text-align: center;
}


/* Footer Section */

footer {
    width: 100%;
    border: 0;
    padding: 20px 0;
    color: #f1f1f1;
    background-color: #3d3b3c;
}