html {
  scroll-behavior: smooth;
}

.button {
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #1d9bf0;
  border: none;
  color: white;
  font-weight: bold;

  &:hover {
    opacity: 80%;
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  margin: 8px 0;
}

.section-subtitle {
  font-size: 28px;
  margin: 8px 0;
}